<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Adminsignup" method="post" style="background-color:whitesmoke; width:50%;margin:auto;border-radius: 10px;display: flex;flex-direction: column;gap: 20px;">
        <h1 style="color:blue;font-size: 30px; text-align: center;">Fill the form below to signup</h1>
        
        <div style="width:80%;height:55px;margin:auto; display: flex; flex-direction: column;">
            <label for="firstName" style="padding: 5px;font-size: 17px;">First name</label>
            <input type="text" name="firstName" id="fullname" style="padding:5px; font-size: 17px;" placeholder="Enter first name please">
        </div>
        <div style="width:80%;height:55px;margin:auto; display: flex; flex-direction: column;">
            <label for="lastName" style="padding: 5px;font-size: 17px;">Last name</label>
            <input type="text" name="lastName" id="lastName" style="padding:5px; font-size: 17px;" placeholder="Enter last name please">
        </div>
        <div style="width:80%;height:55px;margin:auto; display: flex; flex-direction: column;">
            <label for="residence" style="padding: 5px;font-size: 17px;">Residence</label>
            <input type="text" name="residence" id="residence" style="padding:5px; font-size: 17px;" placeholder="Enter residence please">
        </div>
        <div style="width:80%;height:55px; margin:auto;display: flex; flex-direction: column;">
            <label for="email" style="padding: 5px;font-size: 17px;">Email</label>
            <input type="text" name="email" id="email" style="padding:5px; font-size: 17px;" placeholder="Enter email please">
        </div>
        <div style="width:80%;height:55px;margin:auto; display: flex; flex-direction: column;">
            <label for="password" style="padding: 5px;font-size: 17px;">Password</label>
            <input type="text" name="password" id="residence" style="padding:5px; font-size: 17px;" placeholder="Enter password please">
        </div>
       
        <div style="align-items: center; margin:auto;width: 100px; padding: 20px;">
            <button type="submit" style="height:50px;padding:10px;background-color: blue;width:100px;border-radius: 10px; border: white 2px solid; color:white;font-size: 20px;">signup</button>
        </div>
    </form>
</body>
</html>