<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/images" method="post" enctype="multipart/form-data">
  <input type="file" name="image" />
  <input type="file" name="audio" />
  <input type="text" name="description">
  <!-- other form fields -->
  <button type="submit">Upload</button>
  <img src="public\1701076452960_weakupjpg.jpg" alt="">
</form>

</body>
</html>